lockfile-version=3
@sap-webcomponents:registry=https://common.repositories.cloud.sap/artifactory/api/npm/deploy-releases-hyperspace-npm/
@sap-internal:registry=https://common.repositories.cloud.sap/artifactory/api/npm/deploy-releases-hyperspace-npm/